/* #modal-content {
  width: 75%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
} */

#sign-up-h1 {
  text-align: center;
  padding: 10px 0px;
}

#sign-up-button-container {
  padding: 20px 0px;
}

#sign-up-button {
  text-align: center;
  display: flex;
  transition: 0.03s;
  background-color: #ff5a5f;
  color: white;
  border: none;
}

#sign-up-button:active {
  transform: scale(0.9);
}

#sign-up-button-container > #disabled-signup > button {
  border: 2px dashed green;
}
