#all-spots-container {
  border: black 4px dotted;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-items: center; */
  justify-items: center;
  width: 100%;
  height: 100%;
}

#manage-spots-image {
  width: 225px;
  height: 205px;
  object-fit: cover;
  border-radius: 10px;
}
/* h1 {
  font-size: 30px;
}

#manage-spot-div-master {
  display: flex;
  flex-direction: column;
}
#user-single-spot {
  max-width: 1024px;

  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}

#single-spot {
  padding-left: 5px;
  padding-right: 5px;
}

#image-div {
  margin-left: 5px;
  margin-right: 5px;
  height: 300px;
}

#update-delete {
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
}

#update-button,
#delete-button-test > button {
  box-shadow: 2px 2px 2px black;
  background-color: gray;
  border: black solid 2px;
  color: white;
  border-radius: 4px;
}


#delete-button {
  box-shadow: 2px 2px 2px black;
}

#manage-button {
  width: 50%;
}

#image-div {
  height: 250px;
}

#image-div > img {
  width: 100%;
  max-height: 200px;
  height: 100%;
  border-radius: 15px;
}

#manage-city-state {
  display: flex;
  flex-direction: column;
}

#manage-city-state > p {
  margin: 0px 0px;
  padding: 0px 0px;
}

#manage-rating {
  display: flex;
}

#manage-city-state-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
} */
