#stars1 {
  display: flex;
  /* border: 2px solid red; */
  /* align-items: center; */
  justify-content: center;
}
#stars2 {
  display: flex;
  /* border: 2px solid red; */
  /* align-items: center; */
  justify-content: center;
}

textarea {
  /* border: 2px solid green; */
  width: 97.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-review-button {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
