#stars {
  /* border: dashed blue 4px; */
  font-size: 25px;
  margin: 0;
}

#stars2 {
  /* border: 4px solid green; */
  margin: 0;
}

#stars2 > h3 {
  font-size: 25px;
}

#stars-box {
  /* border: solid red 4px; */
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 15px 0px;
}
textarea {
  /* border: 2px solid green; */
  width: 97.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .submit-review-button {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
} */

#disabled-review-submit:active {
  cursor: not-allowed;
}

#enabled-review-submit {
  background-color: #ff5a5f;
  color: white;
}

#post-review {
  /* border: 4px solid green; */
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  height: 40px;
  width: 150px;
  /* color: white; */
}

#post-review:hover {
  background-color: #ff5a5f;
  box-shadow: #ff5a5f 0px 6px 16px;
  border: 1px solid #ff5a5f;
  color: white;
  transition: 0.3s;
}

#post-review:not(:hover) {
  transition: 0.3s;
}

#post-review:active {
  transform: scale(0.9);
}

form > h1 {
  text-align: center;
  padding: 10px 0px;
  font-size: 25px;
}

form > textarea {
  padding-left: 10px;
  height: 100px;
  max-width: 95%;
}

form > textarea > #placeholder {
  left: 50px;
}
