/* TODO Add site wide styles */
* {
  font-family: "Montserrat", sans-serif;
  /* background-color: lightgrey; */
  font-weight: 600;
  max-width: 1024px;
  margin: 0 auto;
  /* line-height: 25px; */
}

h1 {
  font-size: 20px;
  /* font-weight: 900; */
  color: blue;
}

h2 {
  font-size: 18px;
  color: green;
  /* font-weight: bold; */
}

h3 {
  font-size: 16px;
  color: orange;
}

h4 {
  font-size: 14px;
  color: rgb(64, 115, 224);
}
p {
  font-size: 12px;
  color: black;
}

#p-error {
  color: red;
  padding: 3px 0px;
}

.p2 {
  color: #717171;
}

.NavLink {
  text-decoration: none;
}

button {
  border-radius: 10px;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  /* border: dotted rgb(16, 227, 16) 3px; */
}

#accepted-pressed-button {
  transition: 0.03s;
  /* width: 250px; */
}

#accepted-pressed-button:active {
  transform: scale(0.9);
}

#reject-button-shake:active {
  /* transform: translateX(6px); */
  background-color: grey;
  /* display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s; */
}

/* Modal Input Information */
#inputs-information {
  padding-top: 0px;
  padding-bottom: 15px;
}

#h1-form {
  text-align: center;
  padding: 10px 0px;
}

#modal-buttons-left-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

#modal-content {
  padding: 10px 10px;
}
