/* TODO Add site wide styles */
* {
  font-family: "Montserrat", sans-serif;
  /* background-color: lightgrey; */
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  color: blue;
}

h2 {
  font-size: 18px;
  color: green;
}

h3 {
  font-size: 16px;
  color: orange;
}
p {
  font-size: 12px;
  color: black;
}

#p-error {
  color: red;
  padding: 3px 0px;
}

.p2 {
  color: #717171;
}

.NavLink {
  text-decoration: none;
}

button {
  border-radius: 10px;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: dotted rgb(16, 227, 16) 3px; */
}

/* Modal Input Information */
#inputs-information {
  padding-top: 0px;
  padding-bottom: 15px;
}

#h1-form {
  text-align: center;
  padding: 10px 0px;
}

#modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

#modal-content {
  padding: 10px 10px;
}
