.all-spots-container {
  /* border: black 4px dotted; */
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  /* align-items: center; */
  justify-items: center;
  /* width: 100%;
  height: 100%; */
}

.landing-page-image {
  /* min-width: 250px;
  width: 90%;
  height: 205px; */
  min-width: 245px;
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  max-width: 245px;
}

.spot-details {
  /* border: 2px solid red; */
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.location-price {
  /* border: 2px dashed green; */
  margin: 0;
}

.rating {
  /* border: 2px dotted blue; */
  height: auto;
  margin: 0;
}

#filled-star {
  color: #ff9529;
}
