.hidden {
  display: none;
  /* position: relative;
  display: inline-block; */
}

#header-nav-bar-container {
  border: red dashed 3px;
  padding: 10px 0px;
  /* padding-bottom: 20px; */
  /* padding-top: 20px; */
  /* border-bottom: solid 1px lightgrey; */
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-height: 10px; */
  /* height: 50px; */
  /* border: 4px dashed green; */
}

#raebnb-logo {
  padding: 0px 5px;
  height: 25px;
  transform: rotate(180deg);
}

#home-link {
  /* border: orange dashed 4px; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 5px 10px;
  color: #ff5a5f;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

#right-side-nav {
  /* display: inline-block; */
  border: 2px solid blue;
  /* position: relative; */
  display: flex;
}

#right-side-nav-create-spot-button {
  border: 2px dashed turquoise;
}

/* #create-spot-button { */
/* padding: 10px 10px; */
/* display: flex; */
/* justify-content: space-around; */
/* align-items: right; */
/* background-color: white; */
/* border-radius: 8px; */
/* border: lightgrey 1px solid; */
/* text-decoration: none; */
/* } */

/* #create-spot-button > i { */
/* padding: 0px 5px; */
/* color: darkslategrey; */
/* } */

/* menu { */
/* border: pink solid 2px; */
/* } */

/* #create-new-spot { */
/* text-decoration: none; */
/* margin-left: 100px; */
/* border: 2px dashed orange; */
/* } */

/* #create-spot-button { */
/* box-shadow: 2px 2px 2px lightgrey; */
/* text-decoration: none; */
/* } */

/* #create-spot-button:active { */
/* background-color: lightgrey; */
/* } */

/* #create-spot-button:hover { */
/* background-color: lightgrey; */
/* } */

/* #nav-left-create-spot { */
/* float: left; */
/* padding: 0px 10px; */
/* display: flex; */
/* align-items: center; */
/* } */

/* 
#nav-right-dropdown-menu {
  float: right;
  padding: 5px 10px;
  height: auto;
  text-align: right; */
/* border: 2px dashed yellowgreen; */
/* width: 200px; */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* margin-right: 50px; */
/* } */

/* #dropdown-button-w-icons {
  background-color: white;
  border: solid 1px lightgrey;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 8px;
  width: 100px;
  height: 38px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

/* #dropdown-button-w-icons:hover {
  background-color: lightgrey;
} */

/* #dropdown.profile-dropdown {
  margin-left: -30px;
  border: grey solid 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 3px 3px 3px grey;
  list-style: none;
  padding: 10px 10px;
  z-index: 999;
  position: fixed;
} */

/* ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
} */

/* ul li button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
} */

/* .logout-button {
  margin-left: 20px;
} */
