.hidden {
  display: none;
}

.profile-dropdown {
  /* margin-left: -60px; */
  border: blue solid 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 3px 3px 3px grey;
  list-style: none;
  padding: 10px 10px;
  z-index: 1;
  position: absolute;
  float: right;
  top: 8%;
  right: 18%;
}

/* create new spot button */
#create-new-spot {
  text-decoration: none;
  /* background-color: #ff5a5f; */
  /* transition: 0.05s ease; */
}

#create-spot-button {
  /* text-decoration: none; */
  background-color: #ff5a5f;
  /* transition: 0.05s ease; */
  color: white;
  border: #ff5a5f solid 1px;
}

#create-spot-button:active {
  transform: scale(0.9);
  transition: 0.05s;
  background-color: #ff5a609b;
  /* background-color: #d4454a; */
}

/* Navigation */

#header-nav-bar-container {
  /* border: red dashed 3px; */
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#raebnb-logo {
  padding: 0px 5px;
  height: 35px;
  transform: rotate(180deg);
}

#raebnb-h1 {
  color: #ff5a5f;
}

#home-link {
  /* border: orange dashed 5px; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 5px 10px;
  color: #ff5a5f;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-left: 5px;
}

#right-side-nav {
  /* border: 5px dashed blue; */
  margin-right: 5px;
  justify-content: start;
  display: flex;
}

#right-side-nav-create-spot-button {
  /* border: 3px dashed red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* #right-side-nav-profile-button {
  border: 2px solid turquoise;
} */

/* Profile Buttons */
#dropdown-button-w-icons {
  /* background-color: rgba(170, 57, 212, 0.756); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 70px;
  transition: 0.05s ease;
}

#dropdown-button-w-icons:active {
  transform: scale(0.9);
}

#bars-icon,
#person-icon {
  color: rgb(0, 0, 0);
}
