.hidden {
  display: none;
}

#airbnb-with-raebnb {
  /* border: red solid 2px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 50px; */
}

#airbnb-logo {
  padding: 0px 5px;
  height: 25px;
}

#home-link {
  /* border: purple solid 1px; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 5px 10px;
  color: #ff5a5f;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

button {
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: right;
  background-color: white;
  border-radius: 25px;
  border: lightgrey 1px solid;
}

button > i {
  padding: 0px 5px;
  color: darkslategrey;
}

#dropdown {
  border: blue 1px solid;
}

menu {
  border: pink solid 2px;
}
