#update-spot-button {
  background-color: #ff5a6099;
  color: white;
}

#update-spot-button:hover {
  transition: 0.3s;
  background-color: #ff5a5f;
}

#update-spot-button:not(:hover) {
  transition: 0.3s;
}

input {
  padding-left: 10px;
}

#update-spot-button-div {
  padding-top: 15px;
}
