button:hover {
  background-color: lightgrey;
  text-decoration: none;
}

#form-container {
  /* border: green 4px solid; */
  width: 500px;
  margin: auto;
}

form > p {
  color: red;
}

.titles {
  border: 2px red solid;
  flex-direction: row;
  /* border-bottom: 2px solid black; */
}

.inputs {
  /* border: 4px blue dotted; */
  padding-bottom: 20px;
}

input {
  width: 100%;
  margin: auto;
  background-color: rgb(233, 242, 255);
}

#form-container > p {
  /* color: red; */
  margin: 5px 0px;
}

#city-state > label {
  display: inline-block;
  width: fit-content;
}

.textarea-box {
  width: 100%;
  height: 150px;
}
