#h1-create-new-spot {
  padding-bottom: 20px;
}

button:hover {
  background-color: lightgrey;
  text-decoration: none;
}

#form-container {
  /* border: green 5px solid; */
  width: 600px;
  margin: auto;
  padding: 20px 0px;
}

form > p {
  color: red;
}

.titles {
  /* border: 5px rgb(247, 131, 237) dashed; */
  flex-direction: row;
  /* border-bottom: 2px solid black; */
  padding: 10px 0px;
}

.inputs {
  /* border: 5px blue dashed; */
  padding-top: 5px;
  padding-bottom: 10px;
  /* border-bottom: grey 3px solid; */
}

input {
  width: 100%;
  margin: auto;
  background-color: rgb(233, 242, 255);
  padding: 5px 0px;
}

#city-state {
  /* border: 5px solid green; */
  margin: 0;
  display: grid;
  gap: 18px;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}

#city-state > label {
  margin: 0;
}

#city-state-inputs-information {
  /* border: 2px solid red; */
  width: 100%;
}

.comma {
  display: flex;
}

.textarea-box {
  width: 100%;
  height: 150px;
  resize: none;
}
